/* Tailwind css utility framework */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ensure consistent default margin and padding */
* {
  margin: 0;
  padding: 0;
}
/* Hide the elm debugger */
body > div:not(.content) {
  /* display: none; */
}

/* Transition classes */
.trans {
  transition: all 0.25s;
}
.trans-slow {
  transition-duration: 0.5s;
}

/* Custom styles */
